img.image__preview,
img[data-desktop-src].image__preview,
img[data-mobile-src].image__preview,
.lazy-load img.image__preview {
    opacity: 0 !important;
    visibility: hidden !important;
    pointer-events: none !important;
}
img.image__main,
img[data-desktop-src].image__main,
img[data-mobile-src].image__main {
    opacity: 1 !important;
    filter: none !important;
}
#spr-live-chat-app{
    display:none !important;
}
.co78-recommended-product-carousel{
    display:none !important;
}
.pd-g-product-recommendation-with-reason{
    display: none !important;
}
.ins-preview-wrapper, .component-area,.trade-in-learn-more-popup,.tariff-info-popup,.trade-in-popup,.upgrade-popup
,.samsung-flex-popup-container
,.confirm-popup-upgrade,.upgrade-learn-more-popup,.cancel-return-policy-popup,.warranty-policy-popup
,.hubble-careinfo-popup,.sc-learn-more-popup,.hubble-care-popup,.hubble-care-popup__alert,.hubble-care-popup__alert
,.extended-warranty-popup,.extended-warranty-popup__alert,.extended-warranty-popup__alert,.extended-warranty-popup-vd,.warranty-info-popup,.shop-combo-popup
,.free-gift-popup,.confirm-popup-v2{
    display:none !important;
}
.pd21-product-finder__no-result,.ebt-popup {
    display: none !important;
}