@font-face {
  font-display: swap;
  font-family: 'SamsungOne';
  font-style: normal;
  font-weight: normal;
  src: local('SamsungOne'), url("../fonts/SamsungOne-400.woff2") format('woff2'), url("../fonts/SamsungOne-400.woff") format('woff'), url("../fonts/SamsungOne-400.ttf") format('truetype'), url("../fonts/SamsungOne-400.eot") format('embedded-opentype');
}

@font-face {
  font-display: swap;
  font-family: 'SamsungOne';
  font-style: normal;
  font-weight: bold;
  src: local('SamsungOne'), url("../fonts/SamsungOne-700.woff2") format('woff2'), url("../fonts/SamsungOne-700.woff") format('woff'), url("../fonts/SamsungOne-700.ttf") format('truetype'), url("../fonts/SamsungOne-700.eot") format('embedded-opentype');
}

@font-face {
  font-display: swap;
  font-family: 'SamsungSharpSans';
  font-style: normal;
  font-weight: bold;
  src: local('SamsungSharpSans'), url("../fonts/SamsungSharpSansBd.woff2") format('woff2'), url("../fonts/SamsungSharpSansBd.woff") format('woff'), url("../fonts/SamsungSharpSansBd.eot") format('embedded-opentype');
}

@font-face {
  font-display: swap;
  font-family: 'SamsungSharpSans';
  font-style: normal;
  font-weight: normal;
  src: local('SamsungSharpSans'), url("../fonts/SamsungSharpSansBd.woff2") format('woff2'), url("../fonts/SamsungSharpSansBd.woff") format('woff'), url("../fonts/SamsungSharpSansBd.eot") format('embedded-opentype');
}

@font-face {
  font-display: swap;
  font-family: 'SamsungSSHead';
  font-style: normal;
  font-weight: bold;
  src: local('SamsungSSHead'), url("../fonts/SamsungSSHead-Bold.woff2") format('woff2'), url("../fonts/SamsungSSHead-Bold.woff") format('woff'), url("../fonts/SamsungSSHead-Bold.ttf") format('truetype'), url("../fonts/SamsungSSHead-Bold.eot") format('embedded-opentype');
}

@font-face {
  font-display: swap;
  font-family: 'SamsungSSHead';
  font-style: normal;
  font-weight: normal;
  src: local('SamsungSSHead'), url("../fonts/SamsungSSHead-Bold.woff2") format('woff2'), url("../fonts/SamsungSSHead-Bold.woff") format('woff'), url("../fonts/SamsungSSHead-Bold.ttf") format('truetype'), url("../fonts/SamsungSSHead-Bold.eot") format('embedded-opentype');
}

@font-face {
  font-display: swap;
  font-family: 'SamsungSSBody';
  font-style: normal;
  font-weight: bold;
  src: local('SamsungSSBody'), url("../fonts/SamsungSSBody-Bold.woff2") format('woff2'), url("../fonts/SamsungSSBody-Bold.woff") format('woff'), url("../fonts/SamsungSSBody-Bold.ttf") format('truetype'), url("../fonts/SamsungSSBody-Bold.eot") format('embedded-opentype');
}

@font-face {
  font-display: swap;
  font-family: 'SamsungSSBody';
  font-style: normal;
  font-weight: normal;
  src: local('SamsungSSBody'), url("../fonts/SamsungSSBody-Regular.woff2") format('woff2'), url("../fonts/SamsungSSBody-Regular.woff") format('woff'), url("../fonts/SamsungSSBody-Regular.ttf") format('truetype'), url("../fonts/SamsungSSBody-Regular.eot") format('embedded-opentype');
}
